h1{
    font-family: "Lucida Console", Arial;
}

h2{
    font-family: "Lucida Console", Arial;
    display: inline;
}

p{
    font-family: "Lucida Console", Arial;
}

.lucida{
    font-family: "Lucida Console", Arial;
}

#rect{
    width: 500px;
    height:100px;
    padding: 10px;
    border: 1px solid black;
}